*.autobackupbyrefinery.*
*.log
*.rbc
*.swo
*.swo
*.swp
*.swp
*.tmproj
*~
.DS_Store
.bundle
.bundle
.eprj
.idea
.rvmrc
.rvmrc.*
.sass-cache
.sass-cache/
.sass-cache/*
.yardoc
.yardopts
capybara-*html
coverage
db/*.sqlite3
db/*.sqlite3
db/*.sqlite3-journal
db/schema.rb
doc/api
doc/app
index/**/*
log/*.log
public/javascripts/cache
public/stylesheets/cache
public/system/*
public/themes/*
refinerycms-*.gem
spec/support/
tmp
tmp/
tmp/**/*
vendor/cache
