/*
 Name: Billably Admin Styles
*/
@import "html5-reset";
@import 'bootstrap';
@import "sessions";

#nav {
  padding-bottom: 2em;
  padding-top: 1em;
  ul li {
    float: left;
    list-style: none;
    margin-left: 2em;
  }
}
h3.form_title {
  margin-left: 150px;
  margin-bottom: 20px;
}
