/*
 Name: Billable Styles
 *= require_self
*/
@import "shared.css.scss";
@import "html5-reset.css";
@import "home.css.scss";

/* Global Styles ************************************************/
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1.5em;
  background: url("tiled-bg.png") #fff top left repeat-x;
}

/* headings */
h1, h2, h3 {
  font-weight: bold;
}

/* paragraphs */
p {
  margin-bottom: 24px;
}
* p:last-child {margin-bottom: 0;}
strong, b {font-weight: bold;}
em, i {font-style: italic;}

/* links */
a {
  text-decoration: none;
  color: $main-color;
}

/* Buttons */ 
.btn {
  display: block;
  padding: 10px;
  font-weight: bold;
  border: 1px solid #951100;
  color: #fff;
  text-align: center;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8);
  @include btn-background-image(#ee432e, #c63929, #b51700, #891100);
  @include border-radius(5px);
  @include btn-multiple-box-shadow(rgba(255, 115, 100, 0.4), #333333);

  &:hover {
    @include btn-background-image(#f37873, #db504d, #cb0500, #a20601);
    cursor: pointer; 
  }
  &:active {
    @include btn-background-image(#d43c28, #ad3224, #9c1500, #700d00);
    @include btn-single-box-shadow(rgba(255, 115, 100, 0.4));
  }
}

/* Tabs */
#tabs li a {
  padding: 0.5em 1em;
  margin-right: 1em;
  float: left;
  @include tab-background-image(#ffffff, #ececec);
  @include border-radius(3px);
  border: 1px solid #e6e6e6;
  border-bottom: 1px solid #bbb;
  color: #333;
  text-shadow: 0 1px 0 #eee;
  margin-bottom: 1em;
  &:hover {
    @include tab-background-image(#eeeeee, #cccccc);
    border: 1px solid #bbb;
    border-bottom: 1px solid #999;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd; 
  }
  &:active {
    border: 1px solid #aaa;
    border-bottom: 1px solid #888;
    @include btn-multiple-box-shadow(#aaaaaa, #eeeeee);
  }
  &.active {
    @include tab-background-image(#6d6d6d, #4c4c4c);
    border-color: #252525;
    color: #ffffff;
    text-shadow: 0 1px 0 #000000;
  }
}

/* Lists */
ul.bullets {
  margin-bottom: 1em;
  li {
    margin-left: 1em;
    list-style: disc inside;
  }
}

/* Header */
header h2.tagline {
  clear: both;
  font-size: 14px;
  color: #808182;
  font-weight: normal;
  line-height: 60px;
}
header.main {
  .logo {
    float: left;
    padding: 10px 0;
  }
  ul {
    float: right;
    margin-top: 32px;
    li {
      float: left;
      border-left: 1px solid #e7e8e8;
      height: 58px;
      &.last {
        padding-left: 20px;
      }
      a {
        font-weight: bold;
        padding: 0 20px;
        height: 58px;
        line-height: 58px;
        display: block;
        &.btn {
          height: 38px;
          line-height: 38px;
          margin-top: 9px;
        }
      }
    }
  }
  ul.cities {
    float: left;
    li {
      border: 0;
    }
    a {
      color: #333;
      font-size: 18px;
      background: url("dropdown.png") transparent center right no-repeat;
      padding-right: 18px;
    }
  }
}

/* contents */
.wrapper {
  width: 80%;
  margin: 0 auto;
}
.hidden {
  display: none;
}
.message {
  background-color: #feffe2;
  @include border-radius(3px);
  padding: 3px;
  text-align: center;
}
img {
  max-width: 100%;
}
.secondary-heading {
  color: $main-color;
  margin-bottom: 1em;
}

/* layout */ /* 16 + 2 + 50 + 2 + 30 */
.left-sidebar,
.main-content,
.right-sidebar {
  float: left;
}

.left-sidebar {
  width: 16%;
  margin-right: 2%;
  background-color: #fff;
  border: 1px solid #d6e5e8;
  padding: 2%;

  ul {
    margin-bottom: 11px;
  }
  li a {
    color: #333;
    display: block;
    line-height: 30px; 
    background: url("icons-sprite.png") transparent center left no-repeat;
    padding-left: 30px;
    &.magazines {background-position: 0 4px;}
    &.shoes {background-position: 0 -26px;}
    &.fruits {background-position: 0 -59px;}
    &.organic {background-position: 0 -89px;}
    &.wine {background-position: 0 -121px;}
    &.microbrew {background-position: 0 -155px;}
    &.farmers-market {background-position: 0 -186px;}
    &.nutrition {background-position: 0 -215px;}
    &.education {background-position: 0 -247px;}
    &.health {background-position: 0 -278px;}
    &.beauty {background-position: 0 -311px;}
    &.fragrance {background-position: -2px -342px;}
    &.fashion {background-position: 0 -373px;}
    &.fresh-fish {background-position: 0 -404px;}
    &.accessories {background-position: 0 -436px;}
  }
}
.main-content {
  width: 47%;
}
.right-sidebar {
  float: right;
  width: 29%;
}

/* footer */
footer {
  clear: both;
  font-size: 12px;
  li {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    border-right: 1px solid #dedede;
    padding-right: 1em;
    line-height: 12px;
  }
  a:hover {
    text-decoration: underline; 
  }
  p {
    clear: both;
    float: left;
    margin-right: 1em;
    line-height: 12px;
    &.copyright {
      color: #b5b5b5;
    }
  }
}

/* Media Queries ************************************************/
@media screen and (min-width: 2000px) { 
  .wrapper {
    width: 1500px;
  }
}
@media screen and (max-width: 1250px) { 
  .wrapper {
    width: 90%;
  }
}
@media screen and (max-width: 900px) { 
  .wrapper {
    width: 810px;
  }
}

/* IE ************************************************/
.ie6 .wrapper,
.ie7 .wrapper {
  width: 960px;
}

