// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "shared.css.scss";

.home-controller {
  .wrapper {
    background: url("truck.png") transparent right 100px no-repeat;
  }
  .main-img,
  .user-img,
  .merchant-info {
    padding: 2%;
    @include frame;
    margin-bottom: 1em;
    h1 {
      font-size: 14px;
      margin-bottom: 1em;
      display: inline;
    }
    li {
      float: left;
      padding-right: 3px;
      color: #757575;
      font-size: 12px;
      &.last::before {
        content: " | ";
      }
    }
    img {
      float: right;
      padding: 0 20px;
      border-left: 1px solid #efefef;
    }
  }
  .main-img {
    max-width: 96%;
  }
  .user-img {
    float: left;
    padding: 1%;
    width: 12%;
  }
  .merchant-info {
    float: right;
    width: 80%;
  }
  .quick-subscription {
    margin-bottom: 3em;
    h1 {
      clear: both;
    }
  }
  legend {
    font-size: 26px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    line-height: 40px;
  }
  form,
  .message {
    margin-bottom: 1em;
  }
  .get {
    background: url("get.png") transparent left top no-repeat;
    padding: 20px 27px 0 27px;
  }
  /* Switches */
  .option.active,
  .buttontrack {
    width: 100px;
    height: 30px;
    border: 1px solid #444;
    background: #1f9aea;
    overflow: hidden;
    margin: 0;
    color: white;
    @include border-radius(5px);
    @include box-shadow(0 2px 6px #084f7d inset, 0 1px 1px #fff);
  }
  .option,
  .button {
    background: #efefef;
    border: 1px solid #0e517d;
    width: 50px;
    height: 25px;
    margin: -1px 0 0 -1px;
    text-align: center;
    padding: 5px 0 0 0;
    cursor: pointer;
    color: #8b8b8b;
    font-weight: bold;
    @include border-radius(5px);
  }
  .button {
    @include box-shadow(0 2px 2px #fff inset, 0 0 10px #d7d7d7 inset, 0 0 10px #084f7d);
  }
  .label {
    font-weight: bold;
    text-transform: uppercase;
    color: #444;
    text-shadow: 0 2px 1px #fff;
    font-size: 100%;
    padding: 100px 0 0 0;
  }
  .option,
  .option.active {
    float: left;
    margin: 0;
    font-size: 24px;
    padding: 10px 10px 15px 10px;
    width: auto;
    height: auto;
    margin-right: 10px;
  }
  .option.last {
    margin-right: 0;
  }
  .options {
    width: 223px;
    margin: 0 auto;
    overflow: auto;
  }
  .buttontrack {
    clear: both;
    margin: 1em auto;
  }
  .location,
  .how-it-works img {
    @include frame;
    padding: 3%;
  }
  .location {
    margin-bottom: 1em;
    p {
      background: url("location-icon.png") transparent center left no-repeat;
      padding-left: 20px;
    }
  }
  .as-seen-on {
    height: 37px;
    margin-bottom: 3em;
    h1 {
      float: left;
      line-height: 37px;
      margin-right: 1em;
      font-style: italic;
      color: #6d6d6d;
      font-size: 14px;
    }
    clear: both;
    li {
      float: left;
      padding: 0 3%;
    }
  }
}

