// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "shared.css.scss";

.home-controller {
  .main-img,
  .user-img,
  .merchant-info {
    padding: 2%;
    @include frame;
    margin-bottom: 1em;
    h1 {
      font-size: 14px;
      margin-bottom: 1em;
      display: inline;
    }
    li {
      float: left;
      padding-right: 3px;
      color: #757575;
      font-size: 12px;
      &.last::before {
        content: " | ";
      }
    }
    img {
      float: right;
      padding: 0 20px;
      border-left: 1px solid #efefef;
    }
  }
  .main-img {
    max-width: 96%;
  }
  .user-img {
    float: left;
    padding: 1%;
    width: 12%;
  }
  .merchant-info {
    float: right;
    width: 80%;
  }
  .quick-subscription {
    h1 {
      clear: both;
    }
    #tabs {
      @include frame;
      width: 96%;
      padding: 2%;
      overflow: auto;
      p {
        clear: both;
      }
      #general-info section {
        width: 50%;
        float: left;
      }
    }
  }
  legend {
    font-size: 26px;
    font-weight: bold;
    color: #000000;
    text-align: center;
  }
  form,
  .message {
    margin-bottom: 1em;
  }
  .location,
  .how-it-works img {
    @include frame;
    padding: 3%;
  }
  .location {
    margin-bottom: 1em;
    p {
      background: url("location-icon.png") transparent center left no-repeat;
      padding-left: 20px;
    }
  }
  .as-seen-on {
    clear: both;
    li {
      float: left;
      margin-right: 10px;
    }
  }
}
