@import "shared.css.scss";

.payments-controller {
  section.main {
    clear: both;
  }
  .tagline {
    display: none;
  }
  .main-content,
  .right-sidebar {
    background-color: #fff; 
    margin-top: 2em;
    border: 1px solid #c5d1d3;
    @include border-radius(5px);
    margin-bottom: 2em;
    @include box-shadow(inset 0px 0px 4px 2px rgba(241, 241, 241, 0.9), 0 0px 0px #333333);
    padding: 1.5% 2% 2% 2%;
  }
  .main-content {
    background: url("header_bg.png") #fff top left repeat-x;
    width: 66%;
    float: left;
    position: relative;
    .fb {
      position: absolute;
      top: 0;
      right: 0;
      width: 270px;
      p {
        float: left;
        line-height: 53px;
      }
      img {
        padding: 16px;
      }
    }
    h1.main {
      margin-left: 0.5em;
    }
  }
  .right-sidebar {
    width: 24%;
    float: right;
    div {
      padding: 10px 20px 20px 20px;
    }
    ul {
      margin-bottom: 20px;
    }
    /* Drilldown */
    .drill-down {
      font-size: 12px;
      background: url("collapsed.png") transparent left 2px no-repeat;
      padding-left: 20px;
      &:hover {
        text-decoration: underline;
      }
      &.expanded {
        background-image: url("expanded.png");
      }
    }
  }
  h1.main {
    font-size: 20px;
    margin-bottom: 2em;
  }
  fieldset {
    padding-top: 1em;
    margin-bottom: 1em;
    .left-column,
    .right-column {
      float: left;
      width: 50%;
    }
  }
  /* Form */
  legend {
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid #ddeacc;
    display: block;
    width: 98%;
    margin: 0 0.5em;
  }
  .field {
    margin-bottom: 1em;
    padding: 0.5em;
  }
  label {
    display: block;
  } 
  .required label {
    font-weight: bold;
  }
  .field input,
  textarea {
    border: 1px solid #dedede;
    padding: 0.9em;
    -webkit-box-shadow: inset 1px 1px 2px 0px #dddddd;
    -moz-box-shadow: inset 1px 1px 2px 0px #dddddd;
    box-shadow: inset 1px 1px 2px 0px #dddddd;  
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 300px;
  }
  input:focus,
  textarea:focus {
    border-color: #26A9E0;
  }
  .field.terms {
    overflow: auto;
    input {
      width: 20px;
      margin-top: 5px;
      float: left;
    }
    label {
      float: left;
      line-height: 20px;
    }
  }
  input.btn {
    clear: both;
    width: 20em;
    font-size: 14px;
  }
}

